@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('https://upload.wikimedia.org/wikipedia/commons/4/41/Pixel_heart_red.svg'), auto;
}

:root {
    --app-font: 'Press Start 2P', cursive;
    --background-color: black;
    --text-color: whitesmoke;
    --active-color: orange;
    --header-border-size: .5rem;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.corner::before {
    content: "";
    display: inline-block;
    width: .5rem;
    height: .5rem;
    background-color: var(--background-color);
    z-index: 1;
    position: absolute;
}

.corner::after {
    content: "";
    display: inline-block;
    width: .5rem;
    height: .5rem;
    background-color: var(--text-color);
    position: absolute;
}

.top-left::before {
    top: calc(-1 * var(--header-border-size));
    left: calc(-1 * var(--header-border-size));
}

.top-left::after {
    top: 0;
    left: 0;
}

.top-right::before {
    top: calc(-1 * var(--header-border-size));
    right: calc(-1 * var(--header-border-size));
}

.top-right::after {
    top: 0;
    right: 0;
}

.bottom-left::before {
    bottom: calc(-1 * var(--header-border-size));
    left: calc(-1 * var(--header-border-size));
}

.bottom-left::after {
    bottom: 0;
    left: 0;
}

.bottom-right::before {
    bottom: calc(-1 * var(--header-border-size));
    right: calc(-1 * var(--header-border-size));
}

.bottom-right::after {
    bottom: 0;
    right: 0;
}

.test-border {
    border: solid var(--header-border-size) var(--text-color);
    padding: 1.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    margin: .5rem;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: var(--app-font);
    color: var(--text-color);
    text-align: center;
    user-select: none;
}

.app-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

button {
    background: none;
    font-family: var(--app-font);
    color: var(--text-color);
    text-align: center;
    padding: .75rem;
    border: solid .2rem var(--text-color);
    margin: .5rem 1rem;
    user-select: none; 
}

button:active {
    color: var(--active-color);
    border: solid .2rem var(--active-color);
}

main {
    display: flex;
}

header {
    grid-column: 2;
}

.column {
    display: grid;
    grid-template-columns: 1fr;
}

.left {
    grid-column: 1;
}

.right {
    grid-column: 3;
}

@media (max-width: 700px) {
    #root {
        width: 50%;
    }

    .app-container {
        grid-template-columns: repeat(2, 1fr);
    }

    header {
        grid-column: 1 / span 2;
    }

    .right {
        grid-column: 2;
    }

    .visual-container {
        grid-column: 1 / span 2;
        grid-row: 2;
    }
}